/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 1000px;
}

.header {
  display: flex;
  background-color: #fff;
  gap: 20rem;
  align-items: center;
}
.header img {
  margin: 1rem;
}
.header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% auto 10%;
  align-content: stretch;
  align-items: start;
  justify-items: stretch;
  margin: 0 auto;
  font-size: 20px;
  height: 90vh;
}

.nav {
  background-color: #96adc8;
  grid-column: 1/5;
  height: 100%;
  justify-content: stretch;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  padding-top: 0.5rem;
}
.menu_item {
  line-height: 5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fcd0a1;
}

.main {
  background-color: #304d6d;
  grid-column: 1/4;
  grid-row: 2/4;
  height: 100%;
}

.aside {
  background-color: #fcd0a1;
  grid-column: 4/5;
  grid-row: 2/4;
  height: 100%;
}

.banner {
  padding: 10px;
  margin: 15px 10px;
}

.banner-header {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 10px;
}
.banner-contenido {
  font-size: 1.8rem;
  margin-bottom: 10px;
  line-height: 2rem;
}
.banner-image {
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px rgb(47, 212, 212);
  margin-bottom: 15px;
}
.banner-footer {
  text-align: center;
  letter-spacing: 3px;
  text-transform: initial;
  margin-bottom: 1rem;
}
.banner-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100px;
  border-radius: 20px;
  align-content: center;
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  background-color: #304d6d;
  color: #7d1d3f;
  font-weight: 700;
  text-shadow: 0px 0px 3px white;
  box-shadow: 3px 3px 5px white;
  transition: all 1s ease-in-out;
}
.banner-btn:hover {
  box-shadow: inset 0px 0px 15px white;
  width: 85%;
}
.footer {
  background-color: #acfcd9;
  grid-column: 1/5;
  height: 50px;
}
.cookie {
  display: none;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 300px);
  height: 150px;
  width: 600px;
  background-color: #7d1d3f;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-image: url(assets/img/columpio.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box {
  width: 300px;
  height: 300px;
  
  border: 3px solid #7d1d3f; 
  border-radius: 20px;
  text-align: center;
  
  color: #96adc8;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.2);
  transition: all 500ms ease-in-out;
}
.box:hover{
  background-color: rgba(10, 10, 10, 0.9);
}
.box__header{
  padding-top: 10px;
  text-align: center;
  color: #7d1d3f;
  text-transform: capitalize;
  background-color: rgba(210, 210, 210, 0.2);
}
.box__title{
  font-size: 2rem;
  text-shadow: 0px 0px 5px antiquewhite;
}
.box__img{
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.box__description{
  color: #7d1d3f;
  margin-top: 10px;

}
.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.icono {
  font-size: 2rem;
  line-height: 3rem;
  color: #7d1d3f;
}
