/************************************************** FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 3rem;
  word-spacing: 20px;
  background-color: var(--color-o);
}
.footer__text {
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-s);
  font-size: 1.8rem;
}
