/***************************************** HEADER */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin: 0.5rem 5rem;

}
.header__imagen {
  width: 5rem;
  height: 5rem;
}
.header__name {
  width: 80%;
}
.header__title {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  
  padding-top: 1rem;
  color: var(--color-black);
}
.header__text {
  text-align: center;
  font-size: 1.5rem;
}
