:root {
  --color-black: rgb(50, 50, 50);
  --color-grey: rgb(217, 217, 217);
  --color-black-card: rgb(44, 44, 44);
  --color-blue-Soft: rgba(200, 200, 240, 0.5);
  --color-semiBlue: #7891c6;
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  /* Fuentes de color mejoradas */
  --color-azul-claro: #96adc8;
  --color-azul-oscuro: #304d6d;
  --color-crema: #ffefd7;
  --color-v: #aba597;
  --color-S: #222222;
  --color-o: #93a5d5;
  --degradado-titulos: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
}
