.t01__container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.t01__head-p {
  font-size: 2rem;
}

.t01__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid red;
}
