/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

.header {
  display: flex;
  background-color: #fff;
  gap: 20rem;
}
.header img {
  min-width: 50px;
  margin: 1rem;
}
.header h1 {
  margin-left: 5rem;
  font-size: 5rem;
  line-height: 8rem;
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
