* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.js01__main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10xp 100px 100px 100px;
  border: 2px solid green;
  margin-bottom: 3.5rem;
}
.js01__header {
  grid-column: 1/4;
}
.js01__title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.left__icons {
  cursor: pointer;
  list-style: none;
  font-size: 5rem;
  padding: 15px 0;
}
.js01__zoom,
.js01__logo {
  list-style: none;
  cursor: pointer;
}

.js01__zoom-i,
.js01__logo-i {
  font-size: 5rem;
  padding: 10px;
}

.js01__canvas {
  width: 600px;
  height: 300px;
  border: 3px solid rgb(255, 202, 137);
  border-radius: 20px;
}
.js01__footer {
  grid-column: 1/4;
  width: 100%;
}
.js01__colors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
}
.js01__color {
  cursor: pointer;
  list-style: none;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 1rem;
}
.verde {
  background-color: green;
}
.rojo {
  background-color: red;
}
.amarillo {
  background-color: yellow;
}
.azul {
  background-color: blue;
}
.negro {
  background-color: black;
}
.js01__canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}
